[submodule "MegamorphLegFix"]
	path = MegamorphLegFix
	url = git@github.com:Rafael007git/MegamorphLegFix.git
[submodule "LetItBeDarkMod"]
	path = LetItBeDarkMod
	url = git@github.com:Rafael007git/LetItBeDarkMod.git
[submodule "FurnitureAnimations"]
	path = FurnitureAnimations
	url = git@github.com:Rafael007git/FurnitureAnimations.git
