[submodule "MegamorphLegFix"]
	path = MegamorphLegFix
	url = git@github.com:Rafael007git/MegamorphLegFix.git
[submodule "LetItBeDarkMod"]
	path = LetItBeDarkMod
	url = git@github.com:Rafael007git/LetItBeDarkMod.git
[submodule "FurnitureAnimations"]
	path = FurnitureAnimations
	url = git@github.com:Rafael007git/FurnitureAnimations.git
[submodule "DioramaMode"]
	path = DioramaMode
	url = git@github.com:Rafael007git/DioramaMode.git
[submodule "FurnitureMultiplyingFix"]
	path = FurnitureMultiplyingFix
	url = git@github.com:Rafael007git/FurnitureMultiplyingFix.git
[submodule "LingerieButtonsFilter"]
	path = LingerieButtonsFilter
	url = git@github.com:Rafael007git/LingerieButtonsFilter.git
[submodule "BlinkSliders"]
	path = BlinkSliders
	url = git@github.com:Rafael007git/BlinkSliders.git
